.box{
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding-top: 130px;
    margin: 0 auto;

    .tab-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 20px;
        justify-content: center;

        .tabs{
            padding: 20px;
            color: #345e3e;
            transition: 0.2s ease-in-out;
            background: #fff;
            box-sizing: border-box;
            border-radius: 5px;
            box-shadow: 5px 5px 5px rgba(0,0,0, 0.2); 
            cursor: pointer;  
            opacity: 0;

            &.one {
                animation: fadeInUp 2s 1.3s;
                animation-fill-mode: forwards;
            }
            &.two {
                animation: fadeInUp 2s 1.4s;
                animation-fill-mode: forwards;
            }
            &.three {            
                animation: fadeInUp 2s 1.5s;
                animation-fill-mode: forwards;
            }
            &.four {            
                animation: fadeInUp 2s 1.6s;
                animation-fill-mode: forwards;
            }
            &:hover {
              background: #345e3e;
              color: #fff;
            }
        }
    }

}

footer {
    position: absolute;
    ul {
        display: none;
    }
}